<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.19/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/style.css"/>
    <title>Welcome to the blog!</title>
</head>
<body>
    <main>
        <header>
            <nav class="uk-flex uk-padding-small">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if loggedIn}}
                <li><a href="" id="logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </nav>
            <span class="uk-flex">Animal Crossing Tips! 🍒</span>
        </header>
        {{{body}}}
    </main>
    <script src="/js/logout.js"></script>
</body>
</html>