{{#if loggedIn}}
<div class="dashboard">
    <h1>Welcome {{username}}</h1>
    <div>Your posts</div>
</div>

{{else}}
    <div class="dashboard">
        <h1><a href="/login">Login</a> or <a href="/signup">Sign up</a> to create posts!</h1>
    </div>
{{/if}}