{{#if loggedIn}}
<div class="dashboard">
    <h1>Welcome, {{username}}!</h1>
    <div class="posts">Your posts</div>
   {{#each userPostsData as |post|}}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
   {{/each}}

   <a href="/new-post"><button>New Post +</button></a>
</div>

{{else}}
    <div class="dashboard">
        <h1><a href="/login">Login</a> or <a href="/signup">Sign up</a> to create posts!</h1>
    </div>
{{/if}}