<div class="container new-post">
    <form class="post-form">
        <label for="new-post-title">Title</label>
        <input id="new-post-title" type="text" />
        <label for="new-post-body">Content</label>
        <textarea id="new-post-body"></textarea>
        <button id="create-post" data-userid="{{userId}}">Create</button>
    </form>
</div>

<script src="/js/newPost.js"></script>